:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --accent-color: #F67B50;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.business-setup {
  margin-top: 90px;
}

.business-banner {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.business-banner .figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.business-banner .figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.business-banner::after {
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.business-banner .title {
  margin-bottom: 15px;
  max-width: 640px;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .business-banner .title {
    margin-bottom: 25px;
  }
}
.business-banner p {
  color: #fff;
  max-width: 800px;
  font-size: 18px;
  margin-bottom: 40px;
}
.service-list {
  padding-top: 100px;
  padding-bottom: 100px;
}
.service-list-head {
  margin-bottom: 30px;
}
.service-list-head .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .service-list-head .title {
    margin: auto;
    margin-bottom: 25px;
  }
}
.service-list-head p {
  margin: auto;
  max-width: 850px;
  font-size: 18px;
  text-align: center;
}
.service-list .card {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  border: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.service-list .card::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(243, 147, 33);
  background: linear-gradient(130deg, rgba(243, 147, 33, 0.8) 0%, rgb(255, 255, 255) 50%);
  z-index: -1;
}
.service-list .card .title {
  margin-bottom: 20px;
  color: #000;
}
.service-list .card i {
  font-size: 40px;
  color: #000;
}
.service-list .card p {
  margin-top: 30px;
  color: #000;
}
.service-list .card-footer {
  margin-top: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}
.service-list .card .btn {
  max-width: 180px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}
.service-list .card .btn .btn-circle {
  width: 40px;
  height: 40px;
}
.service-list .card .btn .btn-circle .arrow {
  left: 7px;
}
.service-list .card .btn .btn-text {
  font-size: 16px;
  margin: 0 0 0 55px;
  padding: 5px 0;
}
@media screen and (min-width: 992px) {
  .service-list .card:hover .btn .btn-circle {
    width: 100%;
  }
  .service-list .card:hover .btn .btn-circle .arrow {
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
    background-color: #fff;
  }
  .service-list .card:hover .btn .btn-text {
    color: #fff;
  }
}

.why-dubai {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.why-dubai .inner .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why-dubai .inner .img.left {
  margin-right: 30px;
}
.why-dubai .inner .img.right {
  margin-left: 30px;
}
.why-dubai .inner .figure {
  width: 100%;
  padding-top: calc(544 / 600 * 100%);
  position: relative;
}
.why-dubai .inner .figure img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
}
.why-dubai .inner .info {
  position: relative;
}
.why-dubai .inner .info .title {
  color: #013346;
  margin-bottom: 15px;
}
.why-dubai .inner .info p {
  color: #000;
  font-size: 18px;
  margin-bottom: 0;
}
.why-dubai .inner .info ul {
  padding-left: 20px;
  margin-top: 35px;
  list-style-type: none;
}
.why-dubai .inner .info ul li {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why-dubai .inner .info ul li span {
  font-size: 30px;
  display: inline-block;
  margin-right: 30px;
}

.business-document {
  padding-top: 100px;
  padding-bottom: 100px;
}
.business-document .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .business-document .title {
    margin: auto;
    margin-bottom: 25px;
  }
}
.business-document p {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  margin: auto;
}
.business-document .item-grid {
  margin-top: 50px;
}
.business-document .item-grid .row {
  row-gap: 25px;
}
.business-document .item-grid .item {
  padding: 50px 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  height: 100%;
  text-align: center;
  position: relative;
}
.business-document .item-grid .item .icon {
  margin-bottom: 30px;
}
.business-document .item-grid .item .icon span {
  font-size: 40px;
  color: #F39321;
  font-weight: 500;
}
.business-document .item-grid .item .info {
  text-align: center;
}
.business-document .item-grid .item .title {
  color: #000;
  margin-left: 0;
  margin: auto;
  margin-bottom: 15px;
}
.business-document .item-grid .item p {
  text-align: center;
  font-size: 16px;
}
.business-document .not-sure {
  margin-top: 50px;
}
.business-document .not-sure p {
  font-size: 18px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
.business-document .not-sure a {
  margin: auto;
}

.business-process {
  padding-top: 100px;
  padding-bottom: 100px;
}
.business-process .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .business-process .title {
    margin: auto;
    margin-bottom: 30px;
  }
}
.business-process p {
  font-size: 18px;
  max-width: 870px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.business-process .timeline {
  position: relative;
  max-width: var(--width-container);
  margin: 0 auto;
  padding: var(--spacing-xxl) 0;
}
.business-process .timeline::after {
  content: "";
  position: absolute;
  width: 8px;
  background: linear-gradient(190deg, #EB2227 0%, #013346 100%) !important;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 4px;
  height: 0;
  -webkit-transition: height 1.5s ease-out, opacity 1.5s ease-out;
  transition: height 1.5s ease-out, opacity 1.5s ease-out;
}
.business-process .timeline-container {
  position: relative;
  width: 50%;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  width: 450px;
}
.business-process .timeline-container.left {
  left: 12.5%;
}
.business-process .timeline-container.right {
  left: 50%;
}
.business-process .timeline-container::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
  background: var(--text-lighter);
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 99999;
}
.business-process .content {
  padding: 30px 20px;
  background-color: var(--text-lighter);
  position: relative;
  border-radius: var(--spacing-l);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  text-align: center;
  color: var(--background-dark);
}
.business-process .content strong {
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
}
.business-process .content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.business-process .content:hover {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.business-process .icon {
  font-size: 32px;
  margin-right: var(--spacing-s);
  color: #F67B50; /* Fallback color */
}
.business-process a.content-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
@media screen and (max-width: 600px) {
  .business-process .timeline::after {
    left: 31px;
  }
  .business-process .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 40px;
    margin-bottom: var(--spacing-l);
  }
  .business-process .timeline-container.left::before, .business-process .timeline-container.right::before {
    left: 31px;
  }
  .business-process .timeline-container.right {
    left: 0%;
  }
  .business-process .timeline-container.left, .business-process .timeline-container.right {
    left: 0;
  }
}
.business-process .show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.business-process .timeline.show-line::after {
  height: 100%;
  opacity: 1;
}
.business-process .timeline.hide-line::after {
  height: 0;
  opacity: 0;
}