.home-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}
.home-banner .content .title {
  margin-bottom: 25px;
  max-width: 600px;
}
.home-banner .content p {
  margin-bottom: 40px;
  font-size: 20px;
}

.home-business-setup {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-business-setup .sub-title {
  margin: auto;
  margin-bottom: 15px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #EB2227;
  font-family: "Saira", sans-serif;
}
.home-business-setup .title {
  color: #013346;
  margin: auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 25px;
}
.home-business-setup p {
  font-size: 20px;
  max-width: 850px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}
.home-business-setup .business-card-wrap {
  margin-top: 50px;
}
.home-business-setup .flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.home-business-setup .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home-business-setup .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.home-business-setup .flip-card-front, .home-business-setup .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px;
}
.home-business-setup .flip-card-front {
  color: #000;
}
.home-business-setup .flip-card-back {
  background-color: #29B574;
  color: #000;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #fff;
  text-align: left;
}
.home-business-setup .flip-card-back .title {
  color: #fff;
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: "Saira", sans-serif;
}
.home-business-setup .flip-card-back p {
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
}
.home-business-setup .flip-card-back ul {
  list-style-type: none;
  text-align: left;
  margin-top: 30px;
  padding: 0;
}
.home-business-setup .flip-card-back ul li {
  font-size: 16px;
}
.home-business-setup .flip-card-back ul li + li {
  margin-top: 15px;
}

.home-services {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-services .service-top .sub-title {
  margin-bottom: 15px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #EB2227;
  font-family: "Saira", sans-serif;
}
.home-services .service-top .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 25px;
}
.home-services .service-top p {
  font-size: 20px;
  margin-bottom: 30px;
}
.home-services .service-list {
  margin-top: 70px;
}
.home-services .service-list .card {
  padding: 0 50px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
}
.home-services .service-list .card .icon {
  width: 90px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  height: 90px;
  background-color: rgba(8, 106, 216, 0.07);
  border-radius: 100%;
}
.home-services .service-list .card .info {
  padding-left: 30px;
}
.home-services .service-list .card .info .title {
  font-size: 22px;
  margin-bottom: 15px;
}

.home-about {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ecf6fa;
}
.home-about .achivement {
  position: relative;
  z-index: 1;
  text-align: center;
  height: 450px;
  width: 450px;
  margin-left: 35px;
  margin-top: 15px;
}
.home-about .achivement li {
  display: inline-block;
  background: #ecf6fa;
  padding: 16px 0;
  min-width: 180px;
}
.home-about .achivement li:first-child {
  text-align: center;
  position: relative;
  top: -40px;
}
.home-about .achivement li:first-child .fun-fact {
  text-align: center;
}
.home-about .achivement li:first-child .fun-fact .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: #EB2227;
  line-height: 1.2;
}
.home-about .achivement li:nth-child(2) {
  position: absolute;
  left: -60px;
  bottom: 80px;
}
.home-about .achivement li:nth-child(2) .fun-fact {
  text-align: center;
}
.home-about .achivement li:nth-child(2) .fun-fact .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: #29B574;
  line-height: 1.2;
}
.home-about .achivement li:last-child {
  position: absolute;
  right: -60px;
  bottom: 80px;
}
.home-about .achivement li:last-child .fun-fact {
  text-align: center;
}
.home-about .achivement li:last-child .fun-fact .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #F39321;
}
.home-about .achivement::after {
  position: absolute;
  height: 450px;
  width: 450px;
  content: "";
  border: 2px dashed #cccccc;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: rotate-animation 30s infinite linear;
          animation: rotate-animation 30s infinite linear;
}
.home-about .content .sub-title {
  margin-bottom: 15px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #EB2227;
  font-family: "Saira", sans-serif;
}
.home-about .content .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 25px;
}
.home-about .content p {
  font-size: 18px;
}
.home-about .content ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.home-about .content ul li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
}
.home-about .content ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "N";
  font-family: "ElegantIcons";
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  color: #EB2227;
}
.home-about .content ul li + li {
  margin-top: 15px;
}
.home-about .content .experince {
  font-size: 80px;
  line-height: 1.2;
}
.home-about .content .experince span {
  font-size: 18px;
  display: block;
  font-weight: 400;
  font-family: "Saira", sans-serif;
}

@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.home-contact-faq {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-contact-faq .contact {
  padding-right: 20px;
}
.home-contact-faq .contact .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 25px;
}
.home-contact-faq .contact p {
  font-size: 18px;
  margin-bottom: 0;
}
.home-contact-faq .contact ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  margin: 30px 0 50px 0;
  row-gap: 20px;
  max-width: 80%;
}
.home-contact-faq .contact ul li {
  width: 50%;
}
.home-contact-faq .faq .accordion-item {
  border: none !important;
  margin-bottom: 15px;
}
.home-contact-faq .faq .accordion-header {
  border: none !important;
}
.home-contact-faq .faq .accordion-button {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  margin-bottom: 0;
}
.home-contact-faq .faq .accordion-body {
  padding: 15px 0 25px 0;
}