:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --accent-color: #F67B50;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.form-section {
  padding: 100px 0;
}
.form-section .title {
  color: #013346;
}
.form-section p {
  font-size: 18px;
}
.form-section .info {
  margin-bottom: 100px;
  max-width: 90%;
}
.form-section .inner-form {
  background-color: #013346;
  padding: 30px 20px;
  border-radius: 0;
}
.form-section .inner-form .title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 25px;
}
.form-section .inner-form .form-control,
.form-section .inner-form .form-select {
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-left: 0;
  font-size: 16px;
  color: #fff;
}
.form-section .inner-form .form-control::-webkit-input-placeholder, .form-section .inner-form .form-select::-webkit-input-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control::-moz-placeholder, .form-section .inner-form .form-select::-moz-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control:-ms-input-placeholder, .form-section .inner-form .form-select:-ms-input-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control::-ms-input-placeholder, .form-section .inner-form .form-select::-ms-input-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control::placeholder,
.form-section .inner-form .form-select::placeholder {
  color: #fff;
}
.form-section .inner-form textarea {
  height: 100px;
  resize: none;
}
.form-section .inner-form .form-select {
  padding-left: 5px;
}
.form-section .inner-form .form-select option {
  color: #000;
}
.form-section .inner-form button:hover {
  background-color: rgba(235, 34, 39, 0.7);
}

.minland-list {
  padding-bottom: 100px;
}
.minland-list .row {
  row-gap: 30px;
}
.minland-list .card {
  border: none;
  text-align: center;
}
.minland-list .card span {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
.minland-list .card strong {
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
}
.minland-list .card p {
  color: #000;
  text-align: center;
}

.minland-details {
  padding-top: 80px;
  padding-bottom: 100px;
}
.minland-details .head .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-details .head .title {
    margin-bottom: 25px;
  }
}
.minland-details .head p {
  font-size: 18px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media screen and (min-width: 992px) {
  .minland-details .head p {
    margin-bottom: 50px;
  }
}
.minland-details .nav-pills {
  width: 500px;
  position: sticky;
  top: 110px;
}
.minland-details .nav-pills .nav-link {
  height: 70px;
  padding: 0 20px;
  text-align: left;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.minland-details .nav-pills .nav-link + .nav-link {
  margin-top: 20px;
}
.minland-details .nav-pills .nav-link.active {
  background-color: #013346;
  color: #fff;
}
.minland-details .tab-content {
  width: 100%;
  padding-left: 100px;
}
.minland-details .tab-content .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.minland-details .tab-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.minland-lisence {
  padding: 100px 0;
}
.minland-lisence .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-lisence .title {
    margin-bottom: 25px;
  }
}
.minland-lisence p {
  font-size: 18px;
  margin: auto;
  text-align: center;
}
.minland-lisence p + p {
  margin-top: 20px;
}
.minland-lisence ul {
  margin: 70px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.minland-lisence ul li {
  font-size: 18px;
  text-align: center;
}
.minland-lisence ul li strong {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  color: #013346;
}
.minland-lisence ul + p {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #EB2227;
}

.minland-documents {
  padding: 100px 0;
}
.minland-documents .title {
  color: #013346;
  max-width: 90%;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-documents .title {
    margin-bottom: 25px;
  }
}
.minland-documents p {
  font-size: 18px;
  max-width: 740px;
  margin: auto;
  margin-bottom: 20px;
}
.minland-documents a {
  padding-left: 0;
  font-size: 16px;
}
.minland-documents .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.minland-documents .services-items {
  margin-top: -30px;
}
.minland-documents .services-items .item-grid:first-child {
  margin-top: 80px;
}
.minland-documents .services-items .single-item {
  margin-top: 30px;
}
.minland-documents .services-items .single-item .item {
  padding: 40px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
}
.minland-documents .services-items .single-item .item ul {
  margin-top: 20px;
  padding-left: 20px;
}
.minland-documents .services-items .single-item .item ul li + li {
  margin-top: 10px;
  font-size: 14px;
}

.minland-process .title {
  color: #013346;
  max-width: 90%;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-process .title {
    margin-bottom: 25px;
  }
}
.minland-process p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
}
.minland-process ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.minland-process ul li {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  color: #000;
}
.minland-process ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2062 2.42294C12.9227 2.68516 12.6348 2.95094 12.3138 3.24754C12.2052 3.17807 12.0772 3.10125 11.9542 3.01685C8.27453 0.491368 3.17544 2.37813 2.10427 6.71141C1.20973 10.3306 3.537 13.5275 6.62367 14.3239C9.83031 15.1511 12.9435 13.6209 14.2212 10.6118C14.743 9.3827 14.8253 8.1055 14.5256 6.81502C14.4234 6.37546 14.4355 6.01603 14.7388 5.66775C14.905 5.47689 15.0276 5.24833 15.2051 4.98422C15.2969 5.11533 15.3784 5.19594 15.418 5.29338C16.2976 7.46014 16.2656 9.62193 15.1634 11.6801C13.6098 14.5807 11.1049 16.0229 7.83307 15.8387C2.95021 15.5636 -0.105404 11.0796 0.744561 6.74579C1.42833 3.25963 4.70728 0.260444 8.99243 0.60375C10.3915 0.715893 11.6742 1.20193 12.8191 2.02724C12.9167 2.09765 13.0123 2.17186 13.1019 2.252C13.1377 2.284 13.155 2.33664 13.2062 2.42294Z' fill='%2347B983'/%3E%3Cpath d='M8.18021 9.24085C8.57568 8.80318 8.91353 8.41672 9.26466 8.0426C11.2543 5.92135 13.2433 3.79964 15.2426 1.68764C15.549 1.36425 15.9001 1.08117 16.246 0.798321C16.3826 0.686652 16.5616 0.626668 16.7211 0.543213C16.912 0.806145 16.7844 0.990364 16.682 1.15917C16.2986 1.79173 15.9224 2.42997 15.5089 3.04261C13.5354 5.96616 11.5559 8.88569 9.56268 11.7957C9.30307 12.1746 8.97209 12.5129 8.63519 12.8282C8.30492 13.1372 8.13351 13.123 7.76625 12.8633C7.61215 12.7545 7.45851 12.6379 7.33048 12.5008C6.04949 11.1312 4.76304 9.76647 3.5022 8.37855C2.98131 7.80527 3.065 7.45817 3.73407 7.07408C3.85309 7.0058 3.98183 6.95435 4.10369 6.8901C4.77703 6.53518 5.36051 6.58426 5.91743 7.1675C6.47483 7.75121 7.09908 8.27115 7.69536 8.8174C7.83169 8.94259 7.97395 9.06113 8.18021 9.24085Z' fill='%2347B983'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.minland-process ul li + li {
  margin-top: 15px;
}

.offshore-lisence .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .offshore-lisence .title {
    margin-bottom: 40px;
  }
}
.offshore-lisence .card {
  text-align: center;
  border: none;
  background-color: #DFF2EB;
  padding: 30px 20px;
}
.offshore-lisence .card span {
  font-size: 40px;
  margin-bottom: 30px;
}
.offshore-lisence .card p {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #000;
}

.freezone-tab .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .freezone-tab .title {
    margin-bottom: 25px;
  }
}
.freezone-tab p {
  font-size: 18px;
  margin: auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media screen and (min-width: 992px) {
  .freezone-tab p {
    margin-bottom: 50px;
  }
}
.freezone-tab .lists .nav-tabs {
  background-color: #A66E38;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.freezone-tab .lists .nav-tabs .nav-item .nav-link {
  padding: 30px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.freezone-tab .lists .nav-tabs .nav-item .nav-link.active {
  background-color: #F39321;
}
.freezone-tab .lists .tab-content {
  margin-top: 15px;
}
.freezone-tab .lists .tab-content .logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.freezone-tab .lists .tab-content .logo-list img {
  width: 20%;
}

.business-process {
  padding-top: 100px;
  padding-bottom: 100px;
}
.business-process .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .business-process .title {
    margin: auto;
    margin-bottom: 30px;
  }
}
.business-process p {
  font-size: 18px;
  max-width: 870px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.business-process .timeline {
  position: relative;
  max-width: var(--width-container);
  margin: 0 auto;
  padding: var(--spacing-xxl) 0;
}
.business-process .timeline::after {
  content: "";
  position: absolute;
  width: 8px;
  background: linear-gradient(190deg, #EB2227 0%, #013346 100%) !important;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 4px;
  height: 0;
  -webkit-transition: height 1.5s ease-out, opacity 1.5s ease-out;
  transition: height 1.5s ease-out, opacity 1.5s ease-out;
}
.business-process .timeline-container {
  position: relative;
  width: 50%;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  width: 450px;
}
.business-process .timeline-container.left {
  left: 12.5%;
}
.business-process .timeline-container.right {
  left: 50%;
}
.business-process .timeline-container::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
  background: var(--text-lighter);
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 99999;
}
.business-process .content {
  padding: 30px 20px;
  background-color: var(--text-lighter);
  position: relative;
  border-radius: var(--spacing-l);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  text-align: center;
  color: var(--background-dark);
}
.business-process .content strong {
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
}
.business-process .content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.business-process .content:hover {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.business-process .icon {
  font-size: 32px;
  margin-right: var(--spacing-s);
  color: #F67B50; /* Fallback color */
}
.business-process a.content-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
@media screen and (max-width: 600px) {
  .business-process .timeline::after {
    left: 31px;
  }
  .business-process .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 40px;
    margin-bottom: var(--spacing-l);
  }
  .business-process .timeline-container.left::before, .business-process .timeline-container.right::before {
    left: 31px;
  }
  .business-process .timeline-container.right {
    left: 0%;
  }
  .business-process .timeline-container.left, .business-process .timeline-container.right {
    left: 0;
  }
}
.business-process .show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.business-process .timeline.show-line::after {
  height: 100%;
  opacity: 1;
}
.business-process .timeline.hide-line::after {
  height: 0;
  opacity: 0;
}