:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --accent-color: #F67B50;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.form-section {
  padding: 100px 0;
}
.form-section .title {
  color: #013346;
}
.form-section p {
  font-size: 18px;
}
.form-section .info {
  margin-bottom: 100px;
  max-width: 90%;
}
.form-section .inner-form {
  background-color: #013346;
  padding: 30px 20px;
  border-radius: 0;
}
.form-section .inner-form .title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 25px;
}
.form-section .inner-form .form-control,
.form-section .inner-form .form-select {
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-left: 0;
  font-size: 16px;
  color: #fff;
}
.form-section .inner-form .form-control::-webkit-input-placeholder, .form-section .inner-form .form-select::-webkit-input-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control::-moz-placeholder, .form-section .inner-form .form-select::-moz-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control:-ms-input-placeholder, .form-section .inner-form .form-select:-ms-input-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control::-ms-input-placeholder, .form-section .inner-form .form-select::-ms-input-placeholder {
  color: #fff;
}
.form-section .inner-form .form-control::placeholder,
.form-section .inner-form .form-select::placeholder {
  color: #fff;
}
.form-section .inner-form textarea {
  height: 100px;
  resize: none;
}
.form-section .inner-form .form-select {
  padding-left: 5px;
}
.form-section .inner-form .form-select option {
  color: #000;
}
.form-section .inner-form button:hover {
  background-color: rgba(235, 34, 39, 0.7);
}

.minland-list {
  padding-bottom: 100px;
}
.minland-list .row {
  row-gap: 30px;
}
.minland-list .card {
  border: none;
  text-align: center;
}
.minland-list .card span {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
.minland-list .card strong {
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
}
.minland-list .card p {
  color: #000;
  text-align: center;
}

.minland-details {
  padding-top: 80px;
  padding-bottom: 100px;
}
.minland-details .head .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-details .head .title {
    margin-bottom: 25px;
  }
}
.minland-details .head p {
  font-size: 18px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media screen and (min-width: 992px) {
  .minland-details .head p {
    margin-bottom: 50px;
  }
}
.minland-details .nav-pills {
  width: 500px;
  position: sticky;
  top: 110px;
}
.minland-details .nav-pills .nav-link {
  height: 70px;
  padding: 0 20px;
  text-align: left;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.minland-details .nav-pills .nav-link + .nav-link {
  margin-top: 20px;
}
.minland-details .nav-pills .nav-link.active {
  background-color: #013346;
  color: #fff;
}
.minland-details .tab-content {
  width: 100%;
  padding-left: 100px;
}
.minland-details .tab-content .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.minland-details .tab-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.minland-lisence {
  padding: 100px 0;
}
.minland-lisence .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-lisence .title {
    margin-bottom: 25px;
  }
}
.minland-lisence p {
  font-size: 18px;
  margin: auto;
  text-align: center;
}
.minland-lisence p + p {
  margin-top: 20px;
}
.minland-lisence ul {
  margin: 70px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.minland-lisence ul li {
  font-size: 18px;
  text-align: center;
}
.minland-lisence ul li strong {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  color: #013346;
}
.minland-lisence ul + p {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #EB2227;
}

.minland-documents {
  padding: 100px 0;
}
.minland-documents .title {
  color: #013346;
  max-width: 90%;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-documents .title {
    margin-bottom: 25px;
  }
}
.minland-documents p {
  font-size: 18px;
  max-width: 740px;
  margin: auto;
  margin-bottom: 20px;
}
.minland-documents a {
  padding-left: 0;
  font-size: 16px;
}
.minland-documents .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.minland-documents .services-items {
  margin-top: -30px;
}
.minland-documents .services-items .item-grid:first-child {
  margin-top: 80px;
}
.minland-documents .services-items .single-item {
  margin-top: 30px;
}
.minland-documents .services-items .single-item .item {
  padding: 40px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
}
.minland-documents .services-items .single-item .item ul {
  margin-top: 20px;
  padding-left: 20px;
}
.minland-documents .services-items .single-item .item ul li + li {
  margin-top: 10px;
  font-size: 14px;
}

.minland-process .title {
  color: #013346;
  max-width: 90%;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .minland-process .title {
    margin-bottom: 25px;
  }
}
.minland-process p {
  font-size: 18px;
  margin-bottom: 20px;
}

.offshore-lisence .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .offshore-lisence .title {
    margin-bottom: 40px;
  }
}
.offshore-lisence .card {
  text-align: center;
  border: none;
  background-color: #DFF2EB;
  padding: 30px 20px;
}
.offshore-lisence .card span {
  font-size: 40px;
  margin-bottom: 30px;
}
.offshore-lisence .card p {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #000;
}

.freezone-tab .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .freezone-tab .title {
    margin-bottom: 25px;
  }
}
.freezone-tab p {
  font-size: 18px;
  margin: auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media screen and (min-width: 992px) {
  .freezone-tab p {
    margin-bottom: 50px;
  }
}
.freezone-tab .lists .nav-tabs {
  background-color: #A66E38;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.freezone-tab .lists .nav-tabs .nav-item .nav-link {
  padding: 30px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.freezone-tab .lists .nav-tabs .nav-item .nav-link.active {
  background-color: #F39321;
}
.freezone-tab .lists .tab-content {
  background-color: #E9EFEC;
  margin-top: 15px;
}

.business-process {
  padding-top: 100px;
  padding-bottom: 100px;
}
.business-process .title {
  color: #013346;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .business-process .title {
    margin: auto;
    margin-bottom: 30px;
  }
}
.business-process p {
  font-size: 18px;
  max-width: 870px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.business-process .timeline {
  position: relative;
  max-width: var(--width-container);
  margin: 0 auto;
  padding: var(--spacing-xxl) 0;
}
.business-process .timeline::after {
  content: "";
  position: absolute;
  width: 8px;
  background: linear-gradient(190deg, #EB2227 0%, #013346 100%) !important;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 4px;
  height: 0;
  -webkit-transition: height 1.5s ease-out, opacity 1.5s ease-out;
  transition: height 1.5s ease-out, opacity 1.5s ease-out;
}
.business-process .timeline-container {
  position: relative;
  width: 50%;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  width: 450px;
}
.business-process .timeline-container.left {
  left: 12.5%;
}
.business-process .timeline-container.right {
  left: 50%;
}
.business-process .timeline-container::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
  background: var(--text-lighter);
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 99999;
}
.business-process .content {
  padding: 30px 20px;
  background-color: var(--text-lighter);
  position: relative;
  border-radius: var(--spacing-l);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  text-align: center;
  color: var(--background-dark);
}
.business-process .content strong {
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
}
.business-process .content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.business-process .content:hover {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.business-process .icon {
  font-size: 32px;
  margin-right: var(--spacing-s);
  color: #F67B50; /* Fallback color */
}
.business-process a.content-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
@media screen and (max-width: 600px) {
  .business-process .timeline::after {
    left: 31px;
  }
  .business-process .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 40px;
    margin-bottom: var(--spacing-l);
  }
  .business-process .timeline-container.left::before, .business-process .timeline-container.right::before {
    left: 31px;
  }
  .business-process .timeline-container.right {
    left: 0%;
  }
  .business-process .timeline-container.left, .business-process .timeline-container.right {
    left: 0;
  }
}
.business-process .show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.business-process .timeline.show-line::after {
  height: 100%;
  opacity: 1;
}
.business-process .timeline.hide-line::after {
  height: 0;
  opacity: 0;
}