@import '../utilities/variable';
@import '../mixins/mixins';

.business-setup{
    margin-top: 90px;
}
.business-banner{
    padding: 100px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .figure{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
    }
    &::after{
        background: #000000 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .title {
        margin-bottom: 15px;
        max-width: 640px;
        color: #fff;
        @include min(992) {
            margin-bottom: 25px;
        }
    }
    p{
        color: #fff;
        max-width: 800px;
        font-size: 18px;
        margin-bottom: 40px;
    }
    button{
       
    }

}


.service-list{
    padding-top: 100px;
    padding-bottom: 100px;
    &-head{
        margin-bottom: 30px;
        
        .title {
            color: $primary;
            max-width: max-content;
            margin-bottom: 20px;
    
            @include min(992) {
                margin: auto;
                margin-bottom: 25px;
            }
        }
        p{
            margin: auto;
            max-width: 850px;
            font-size: 18px;
            text-align: center;
        }
    }
    .card{
        padding: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        border:none;
        position: relative;
        z-index: 1;
        background-color: transparent;
        overflow: hidden;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(243,147,33);
            background: linear-gradient(130deg, rgba(243,147,33,.8) 0%, rgba(255,255,255,1) 50%);
z-index: -1;
        }
        // border-top: 5px solid $third-color;

        .title{
            margin-bottom: 20px;
            color: #000;
        }
        i{
            font-size: 40px;
            color: #000;
        }
        p{
            margin-top: 30px;
            color: #000;
        }
        &-footer{
          
          margin-top: auto;
          background-color: transparent;
          border: none;
          padding: 0;
          

        }
        .btn{
            max-width: 180px;
            position: relative;
            margin: auto;
            margin-top: 20px;
            .btn-circle{
                width: 40px;
                height: 40px;
                .arrow{
                   left: 7px;
                }
            }
            .btn-text{
                font-size: 16px;
                margin: 0 0 0 55px;
                padding: 5px 0;
            }
        }
        &:hover{
            @include min(992){
                .btn{
                    .btn-circle{
                        width: 100%;
                        .arrow{
                            transform: translate(1rem, 0);
                            background-color: #fff;
                        }
                    }
                    .btn-text{
                        color: #fff;
                    }
                }
            }
        }
    }
}


.why-dubai{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    .inner{
        .row{
            align-items: center
        }
        .img{
            &.left{
                margin-right: 30px;
               }
               &.right{
                margin-left: 30px;
               }
        }
        .figure{
            width: 100%;
            @include aspectRatio(544,600);
         
        }
        .info{
            position: relative;
        
            .title{
                color: $primary;    
                margin-bottom: 15px;
            }
            p{
                color: #000;
                font-size: 18px;
                margin-bottom: 0;
            }
           
         
            ul{
                padding-left: 20px;
                margin-top: 35px;
                list-style-type:none;
                li{
                    color: #000;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    display: flex;
                    align-items: center;

                    span{
                        font-size: 30px;
                        display: inline-block;
                        margin-right: 30px;
                    }
                  
                }
            }
        }
    }
}


.business-document{
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;
        text-align: center;

        @include min(992) {
            margin: auto;
            margin-bottom: 25px;
        }
    }
    p{
        font-size: 18px;
        max-width: 700px;
        text-align: center;
        margin: auto;
    }
    .item-grid{
        margin-top: 50px;
        .row{
            row-gap: 25px;
        }
        .item{
            padding: 50px 30px;
            padding-top: 20px;
            padding-bottom: 30px;
            background: #ffffff;
            box-shadow: 0 0 10px #cccccc;
            height: 100%;
            text-align: center;
            position: relative;
            .icon{
               margin-bottom: 30px;
                span{
                    font-size: 40px;
                    color: $third-color;
                    font-weight: 500;
                }
            }
            .info{
                text-align: center;
            }
           
            .title{
                color: #000;
                margin-left: 0;
                margin: auto;
                margin-bottom: 15px;
            }
            p{
                text-align: center;
                font-size: 16px;
            }
        }
      
    }
    .not-sure{
        margin-top: 50px;
        p{
            font-size: 18px;
            max-width: max-content;
            margin: auto;
            margin-bottom: 20px;
        }
        a{
            margin: auto;
        }
    }
}


.business-process{
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;

        @include min(992) {
            margin: auto;
            margin-bottom: 30px;
        }
    }
    p{
        font-size: 18px;
        max-width: 870px;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .timeline {
        position: relative;
        max-width: var(--width-container);
        margin: 0 auto;
        padding: var(--spacing-xxl) 0;
      }
    
      .timeline::after {
        content: '';
        position: absolute;
        width: 8px;
        background: linear-gradient(190deg, #EB2227 0%, #013346 100%) !important;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
        height: 0;
        transition: height 1.5s ease-out, opacity 1.5s ease-out;
      }
    
      .timeline-container {
        position: relative;
        width: 50%;
        padding: 10px 30px;
        box-sizing: border-box;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        width: 450px;
      }
    
      .timeline-container.left {
        left: 12.5%;

      }
    
      .timeline-container.right {
        left: 50%;
      }
    
      .timeline-container::before {
        content: "";
        position: absolute;
        top: 10px;
        width: 24px;
        height: 24px;
        background: var(--text-lighter);
        border: 4px solid var(--accent-color);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 99999;
      }
    
      .content {
        padding: 30px 20px;
        background-color: var(--text-lighter);
        position: relative;
        border-radius: var(--spacing-l);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        text-align: center;
        color: var(--background-dark);
        strong{
            margin-bottom: 15px;
            font-size: 18px;
            display: block;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 0;
        }
      }
    
      .content:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
      }
    
         .icon {
                font-size: 32px;
                margin-right: var(--spacing-s);
    
                color: #F67B50; /* Fallback color */
            }
    
    
    
    
      a.content-link {
        text-decoration: none;
        color: inherit;
        display: block;
      }
    
      @media screen and (max-width: 600px) {
        .timeline::after {
          left: 31px;
        }
    
        .timeline-container {
          width: 100%;
          padding-left: 80px;
          padding-right: 40px;
          margin-bottom: var(--spacing-l);
        }
    
        .timeline-container.left::before, .timeline-container.right::before {
          left: 31px;
        }
    
        .timeline-container.right {
          left: 0%;
        }
    
        .timeline-container.left, .timeline-container.right {
          left: 0;
        }
      }
    
      .show {
        opacity: 1;
        transform: translateY(0);
      }
    
      .timeline.show-line::after {
        height: 100%;
        opacity: 1;
      }
    
      .timeline.hide-line::after {
        height: 0;
        opacity: 0;
      }
}