@import '../utilities/variable';
@import '../mixins/mixins';

.business-setup{
    margin-top: 90px;
}
.business-banner{
    padding: 100px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: url(/assets/images/business/banner.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    &::after{
        background: #000000 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .title {
        margin-bottom: 15px;
        max-width: 600px;
        margin: auto;
        color: #fff;
        @include min(992) {
            margin-bottom: 25px;
        }
    }
    p{
        color: #fff;
        max-width: 800px;
        margin: auto;
        font-size: 18px;
        margin-bottom: 40px;
    }
    button{
        margin: auto;
    }

}


.service-list{
    padding-top: 100px;
    padding-bottom: 100px;
    &-head{
        margin-bottom: 30px;
        
        .title {
            color: $primary;
            max-width: max-content;
            margin-bottom: 20px;
    
            @include min(992) {
                margin: auto;
                margin-bottom: 25px;
            }
        }
        p{
            margin: auto;
            max-width: max-content;
            font-size: 18px;
        }
    }
    .card{
        padding: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        .title{
            margin-bottom: 20px;
        }
        i{
            font-size: 40px;
        }
        p{
            margin-top: 30px;
        }
        &-footer{
          
          margin-top: auto;
          background-color: transparent;
          border: none;
          padding: 0;
          

        }
        .btn{
            max-width: 180px;
            position: relative;
            margin: auto;
            margin-top: 20px;
            .btn-circle{
                width: 40px;
                height: 40px;
                .arrow{
                   left: 7px;
                }
            }
            .btn-text{
                font-size: 16px;
                margin: 0 0 0 55px;
                padding: 5px 0;
            }
        }
        &:hover{
            @include min(992){
                .btn{
                    .btn-circle{
                        width: 100%;
                        .arrow{
                            transform: translate(1rem, 0);
                            background-color: #fff;
                        }
                    }
                    .btn-text{
                        color: #fff;
                    }
                }
            }
        }
    }
}


.why-dubai{
    padding-top: 80px;
   
    position: relative;
    .inner{
        background-position: top;
        background-size: cover;
        background-image: url(/assets/images/business/why-dubai.jpg);
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        .info{
            position: relative;
            top: -80px;
            background-color: $primary;
            padding: 50px 40px;
            .title{
                color: #fff;
                margin-bottom: 15px;
            }
            p{
                color: #fff;
                font-size: 18px;
                margin-bottom: 0;
            }
            strong{
                font-size: 20px;
                color: #fff;
                margin-top: 30px;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
    }
}


.business-document{
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;

        @include min(992) {
            margin: auto;
            margin-bottom: 25px;
        }
    }
    &-items{
        margin-top: -30px;
        .item-grid{
            .single-item{
                margin-top: 30px;

            }
            &:first-child{

                margin-top: 80px;
            }
            .item{
                padding: 50px 30px;
                background: #ffffff;
                box-shadow: 0 0 10px #cccccc;
                .title{
                    color: #000;
                    margin-left: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
}


.business-process{
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;

        @include min(992) {
            margin: auto;
            margin-bottom: 30px;
        }
    }
    .timeline {
        position: relative;
        max-width: var(--width-container);
        margin: 0 auto;
        padding: var(--spacing-xxl) 0;
      }
    
      .timeline::after {
        content: '';
        position: absolute;
        width: 8px;
        background: linear-gradient(190deg, #EB2227 0%, #013346 100%) !important;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
        height: 0;
        transition: height 1.5s ease-out, opacity 1.5s ease-out;
      }
    
      .timeline-container {
        position: relative;
        width: 50%;
        padding: var(--spacing-l) var(--spacing-xl);
        box-sizing: border-box;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
      }
    
      .timeline-container.left {
        left: 0;
      }
    
      .timeline-container.right {
        left: 50%;
      }
    
      .timeline-container::before {
        content: "";
        position: absolute;
        top: 30px;
        width: 24px;
        height: 24px;
        background: var(--text-lighter);
        border: 4px solid var(--accent-color);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 99999;
      }
    
      .content {
        padding: var(--spacing-xl);
        background-color: var(--text-lighter);
        position: relative;
        border-radius: var(--spacing-l);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        text-align: center;
        color: var(--background-dark);
        font-weight: bold;
        font-size: 1.25rem;
      }
    
      .content:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
      }
    
         .icon {
                font-size: 32px;
                margin-right: var(--spacing-s);
    
                color: #F67B50; /* Fallback color */
            }
    
    
    
    
      a.content-link {
        text-decoration: none;
        color: inherit;
        display: block;
      }
    
      @media screen and (max-width: 600px) {
        .timeline::after {
          left: 31px;
        }
    
        .timeline-container {
          width: 100%;
          padding-left: 80px;
          padding-right: 40px;
          margin-bottom: var(--spacing-l);
        }
    
        .timeline-container.left::before, .timeline-container.right::before {
          left: 31px;
        }
    
        .timeline-container.right {
          left: 0%;
        }
    
        .timeline-container.left, .timeline-container.right {
          left: 0;
        }
      }
    
      .show {
        opacity: 1;
        transform: translateY(0);
      }
    
      .timeline.show-line::after {
        height: 100%;
        opacity: 1;
      }
    
      .timeline.hide-line::after {
        height: 0;
        opacity: 0;
      }
}