@import '../utilities/variable';
@import '../mixins/mixins';

.business-setup{
    margin-top: 90px;
}
.business-banner{
    padding: 100px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: url(/assets/images/business/banner.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    &::after{
        background: #000000 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .title {
        margin-bottom: 15px;
        max-width: 600px;
        margin: auto;
        color: #fff;
        @include min(992) {
            margin-bottom: 25px;
        }
    }
    p{
        color: #fff;
        max-width: 800px;
        margin: auto;
        font-size: 18px;
        margin-bottom: 40px;
    }
    button{
        margin: auto;
    }

}


.service-list{
    padding-top: 100px;
    padding-bottom: 100px;
    &-head{
        margin-bottom: 30px;
        .title {
            color: $primary;
            max-width: max-content;
            margin-bottom: 20px;
    
            @include min(992) {
                margin: auto;
                margin-bottom: 25px;
            }
        }
        p{
            margin: auto;
            max-width: max-content;
            font-size: 18px;
        }
    }
    .card{
        padding: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        .title{
            margin-bottom: 20px;
        }
        i{
            font-size: 40px;
        }
        p{
            margin-top: 30px;
        }
        &-footer{
          
          margin-top: auto;
          background-color: transparent;
          border: none;
          padding: 0;
          

        }
        .btn{
            max-width: 180px;
            position: relative;
            margin: auto;
            margin-top: 20px;
            .btn-circle{
                width: 40px;
                height: 40px;
                .arrow{
                   left: 7px;
                }
            }
            .btn-text{
                font-size: 16px;
                margin: 0 0 0 55px;
                padding: 5px 0;
            }
        }
        &:hover{
            @include min(992){
                .btn{
                    .btn-circle{
                        width: 100%;
                        .arrow{
                            transform: translate(1rem, 0);
                            background-color: #fff;
                        }
                    }
                    .btn-text{
                        color: #fff;
                    }
                }
            }
        }
    }
}


.why-dubai{
    padding-top: 80px;
   
    position: relative;
    .inner{
        background-position: top;
        background-size: cover;
        background-image: url(/assets/images/business/why-dubai.jpg);
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        .info{
            position: relative;
            top: -80px;
            background-color: $primary;
            padding: 50px 40px;
            .title{
                color: #fff;
                margin-bottom: 15px;
            }
            p{
                color: #fff;
                font-size: 18px;
                margin-bottom: 0;
            }
            strong{
                font-size: 20px;
                color: #fff;
                margin-top: 30px;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
    }
}


.business-document{
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;

        @include min(992) {
            margin: auto;
            margin-bottom: 25px;
        }
    }
    &-items{
        margin-top: -30px;
        .item-grid{
            .single-item{
                margin-top: 30px;

            }
            &:first-child{

                margin-top: 80px;
            }
            .item{
                padding: 50px 30px;
                background: #ffffff;
                box-shadow: 0 0 10px #cccccc;
                .title{
                    color: #000;
                    margin-left: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
}


.business-process{
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;

        @include min(992) {
            margin: auto;
            margin-bottom: 30px;
        }
    }
    &-steps{
       display: flex;
       flex-wrap: wrap;
       column-gap: 20px;
       align-items: center;
       width: 100%;
       row-gap: 30px;
       .arrow{
        display: inline-block;
       }
        .card{
            max-width: 30%;
            flex: 0 0 30%;
            padding: 35px 30px;
            background: #ffffff;
            box-shadow: 0 0 10px #cccccc; 
        }
    }
}