// common includes
@import '../utilities/variable';
@import '../mixins/mixins';

// home page styles

.home-banner {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100vh;

    @include min(992) {
        align-items: center;
    }

    .content {
        padding-bottom: 80px;

        @include min(992) {
            padding-bottom: 0;
        }

        .title {
            margin-bottom: 15px;
            max-width: 600px;

            @include min(992) {
                margin-bottom: 25px;
            }
        }

        p {
            margin-bottom: 30px;
            font-size: 18px;

            @include min(992) {
                margin-bottom: 40px;
                font-size: 20px;
            }
        }

        .cta-btn {
            .btn-circle {
                @include max(991) {
                    width: 100%;
                }
            }

            .btn-text {
                @include max(991) {
                    color: #fff;
                }
            }

            .icon.arrow {
                @include max(991) {
                    background: #fff;
                    transform: translate(1rem, 0);
                }
            }
        }
    }
}

.home-business-setup {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ecf6fa;

    @include min(992) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .sub-title {
        margin-bottom: 15px;
        max-width: max-content;
        color: $third-color;
        font-family: $font-family;

        @include min(992) {
            margin: auto;
            margin-bottom: 15px;
        }
    }

    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;

        @include min(992) {
            margin: auto;
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        max-width: 850px;
        margin: auto;
      
        font-weight: 500;
        text-align: left;

        @include min(992) {
            font-size: 20px;
            text-align: center;
        }
    }

    .business-card-wrap {
        margin-top: 30px;

        @include min(992) {
            margin-top: 50px;
        }

        .row {
            row-gap: 20px;
        }
    }

    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 350px;
        perspective: 1000px;

        @include min(992) {
            height: 400px;
        }

        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            // text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }

        @include min(992) {
            &:hover {
                .flip-card-inner {
                    transform: rotateY(180deg);
                }
            }
        }



        &-front,
        &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            padding: 20px;
        }

        &-front {
            // background-color: $fourth-color;
            color: #000;
            transform: rotateY(180deg);

            @include min(992) {
                transform: 0;
            }
        }

        &-back {
            background-color: $secondary-color;
            color: #000;
            color: #fff;
            text-align: left;

            @include min(992) {
                transform: rotateY(180deg);
            }

            .title {
                color: #fff;
                margin: 0;
                margin-bottom: 5px;
                font-size: 20px;
                font-family: $font-family;

                @include min(992) {
                    font-size: 25px;
                }

            }

            p {
                margin: 0;
                font-size: 14px;
                color: #fff;
                text-align: left;
            }

            ul {
                list-style-type: none;
                text-align: left;
                margin-top: 30px;
                padding: 0;

                li {
                    font-size: 16px;

                    &+li {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

.home-services {
    padding-top: 50px;
    padding-bottom: 50px;

    @include min(992) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .service-top {
        .sub-title {
            margin-bottom: 15px;
            max-width: max-content;
            color: $third-color;
            font-family: $font-family;
        }

        .title {
            color: $primary;
            max-width: max-content;
            margin-bottom: 20px;

            @include min(992) {
                margin-bottom: 25px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;

            @include min(992) {
                font-size: 20px;
            }
        }

        .btn-primary {
            display: none;

            @include min(992) {
                display: flex;
            }
        }
    }

    .service-list {
        margin-top: 20px;

        @include min(992) {
            margin-top: 70px;
        }

        .row {
            row-gap: 30px;
        }

        .card {
            padding: 0;
            padding-bottom: 15px;
            display: flex;
            width: 100%;
            flex-direction: row;
            border: none;
            flex-wrap: wrap;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            border-radius: 0;

            @include min(992) {
                padding: 0 50px 30px 0;
                flex-wrap: nowrap;
            }

            .icon {
                width: 70px;
                flex: 0 0 70px;
                height: 70px;
                background-color: rgba(8, 106, 216, 0.07);
                border-radius: 100%;
                margin-bottom: 10px;

                @include min(992) {
                    width: 90px;
                    flex: 0 0 90px;
                    height: 90px;
                }
            }

            .info {
                padding-left: 0;

                @include min(992) {
                    padding-left: 30px;
                }

                .title {
                    font-size: 22px;
                    margin-bottom: 15px;
                }
            }

        }

        .row {
            row-gap: 30px;

            .col-lg-6:last-child {
                .card {
                    border: none;
                }
            }
        }

        .btn-primary {
            display: flex;
            margin-top: 30px;
            justify-content: center;
            @include max(575) {
                max-width: 100%;
                .arrow {
                    display: none;
                }
            }

            @include min(992) {
                display: none;
            }

           
        }
    }
}

.home-about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ecf6fa;
    overflow: hidden;

    @include min(992) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .row {
        @include max(991) {
            flex-direction: column-reverse;
        }
    }

    .achivement {
        position: relative;
        z-index: 1;
        text-align: center;
       width: 100%;
        padding: 0;
        margin: auto;
        margin-top: 40px;
      

        li {
            display: inline-block;
            padding: 0;
            width: 100%;
            text-align: center;
            &+li{
                margin-top: 30px;
            }

            .fun-fact{
                // text-align: left;
                .counter{
                    display: flex;
                    font-size: 50px;
                    font-weight: 700;
                    justify-content: center;
                    line-height: 1.2;
                }
            }
            &:first-child{
                .counter{
                    color: $fourth-color;
                }
            }
            &:nth-child(2) {
                .counter{
                    color: $secondary-color;
                }
            }
            &:last-child{
                .counter{
                    color: $third-color;
                }
            }

            @include min(992) {
                background: #ecf6fa;
                max-width: 180px;
                padding: 16px 0;
                &+li{
                    margin-top: 0;
                }
                &:first-child {
                    text-align: center;
                    position: relative;
                    top: -40px;
    
                    .fun-fact {
                        text-align: center;
    
                        .counter {
                            display: flex;
                            justify-content: center;
                            font-size: 50px;
                          
    
                        }
                    }
                }
    
                &:nth-child(2) {
                    position: absolute;
                    left: -60px;
                    bottom: 80px;
    
                    .fun-fact {
                        text-align: center;
    
                        .counter {
                            display: flex;
                            justify-content: center;
                            font-size: 28px;
                            font-weight: 700;
                            color: $secondary-color;
                            line-height: 1.2;
    
                            @include min(992) {
                                font-size: 50px;
                            }
    
                        }
                    }
                }
    
                &:last-child {
                    position: absolute;
                    right: -60px;
                    bottom: 80px;
    
                    .fun-fact {
                        text-align: center;
    
                        .counter {
                            display: flex;
                            justify-content: center;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 1.2;
                            color: $third-color;
    
                            @include min(992) {
                                font-size: 50px;
                            }
    
                        }
                    }
    
                }
            }

         

        }
        @include min(576) {
            margin-top: 60px;
            display: flex;
            li{
                &+li{
                    margin-top: 0;
                }
            }
          
         }
 
         @include min(992) {
             height: 450px;
             width: 450px;
             margin-left: 35px;
             margin-bottom: 0;
             margin-top: 0;
             display: block;
         }

        &::after {
            position: absolute;
            height: 290px;
            width: 290px;
            content: "";
            border: 2px dashed #cccccc;
            left: 0;
            top: 0;
            border-radius: 50%;
            z-index: -1;
            animation: rotate-animation 30s infinite linear;
            display: none;
            @include min(992) {
              display: block;
            }

            @include min(992) {
                height: 450px;
                width: 450px;
            }

        }
    }

    .content {
        position: relative;
        z-index: 2;
        .sub-title {
            margin-bottom: 15px;
            max-width: max-content;
            color: $third-color;
            font-family: $font-family;
        }

        .title {
            color: $primary;
            max-width: max-content;
            margin-bottom: 20px;

            @include min(992) {
                margin-bottom: 25px;
            }
        }

        p {
            font-size: 18px;

            @include max(991) {
                margin-bottom: 20px;
            }
        }

        ul {
            margin: 0;
            list-style-type: none;
            padding: 0;

            li {
                position: relative;
                padding-left: 20px;
                font-size: 18px;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "\4e";
                    font-family: 'ElegantIcons';
                    text-align: center;
                    border-radius: 50%;
                    font-weight: 700;
                    color: $fourth-color;
                }

                &+li {
                    margin-top: 15px;
                }
            }
        }
      

        .experince {
            font-size: 80px;
            line-height: 1.2;
            color: $primary;

            span {
                font-size: 18px;
                display: block;
                font-weight: 400;
                font-family: $font-family;
            }
        }
        &::before{
            position: absolute;
            left: -50px;
            top: -50px;
            content: "";
            height: 150px;
            width: 150px;
            background: url(/assets/images/2.png);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
            display: none;
            @include min(992){
                display: block;
            }
        }
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.home-contact-faq {
    padding-top: 50px;
    padding-bottom: 50px;

    @include min(992) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .contact {

        @include min(992) {
            padding-right: 20px;
        }

        .title {
            color: $primary;
            max-width: max-content;
            margin-bottom: 20px;

            @include min(992) {
                margin-bottom: 25px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 0;
        }

        ul {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            list-style-type: none;
            margin: 30px 0 40px 0;
            row-gap: 20px;

            @include min(992) {
                max-width: 80%;
                margin: 30px 0 ;
            }

            li {
                width: 50%;

            }
        }

        .btn-primary {
            @include max(575) {
                max-width: 100%;
                justify-content: center;

                .arrow {
                    display: none;
                }
            }
        }
    }

    .faq {
        margin-top: 50px;
        @include min(992){
            margin-top: 0;
        }
        .accordion {
            &-item {
                border: none !important;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }

            &-header {
                border: none !important;
            }

            &-button {
                background-color: transparent;
                border: none;
                box-shadow: none;
                border-radius: 5px;
                box-shadow: 0 0 10px #cccccc;
                margin-bottom: 0;
                background-color: $primary;
                color: #fff;

                &.collapsed {
                    background-color: #fff;
                    color: $primary;

                    &:after {
                        background-image: url(/assets/images/arrow.svg);
                        width: 15px;
                        height: 9px;
                        background-size: contain;
                    }
                }

                &:not(.collapsed)::after {
                    fill: #fff;
                    background-image: url(/assets/images/w-arrow.svg);
                    width: 15px;
                    height: 9px;
                    background-size: contain;
                }
            }

            &-collapse {}

            &-body {
                padding: 15px 5px 25px 5px;
            }
        }
    }
}