@import '../utilities/variable';
@import '../mixins/mixins';


.form-section {
    padding: 100px 0;
    .title{
        color: $primary;
    }
    p{
        font-size: 18px;
    }
    .info{
        margin-bottom: 100px;
        max-width: 90%;
    }
    .inner-form {
        background-color: $primary;
        padding: 30px 20px;
        border-radius: 0;

        .title {
            color: #fff;
            margin-bottom: 40px;
            font-size: 25px;
        }

        .form-control,
        .form-select {
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            border-bottom: 1px solid #fff;
            padding-left: 0;
            font-size: 16px;
            color: #fff;

            &::placeholder {
                color: #fff;
            }

        }
        textarea{
            height: 100px;
            resize: none;
        }

        .form-select {
            padding-left: 5px;

            option {
                color: #000;
            }
        }

        button {
            &:hover {
                background-color: rgba($color: $fourth-color, $alpha: .7);
            }
        }

    }
}

.minland-list{
    padding-bottom: 100px;
    .row{
        row-gap: 30px;
    }
    .card{
        border: none;
        text-align: center;
        span{
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        strong{
          font-size: 18px;
          margin-bottom: 15px;
          color: #000;
        }
        p{
            color: #000;
            text-align: center;
        }
    }
}

.minland-details {
    padding-top: 80px;
    padding-bottom: 100px;

    .head {
        .title {
            color: $primary;
            max-width: max-content;
           
            margin-bottom: 20px;

            @include min(992) {
                margin-bottom: 25px;
            }
        }

        p {
            font-size: 18px;
            max-width: max-content;

            @include min(992) {
                margin-bottom: 50px;
            }
        }
    }



    .nav-pills {
        width: 500px;
        position: sticky;
        top: 110px;

        .nav-link {
            height: 70px;
            padding: 0 20px;
            text-align: left;
            background: #ffffff;
            box-shadow: 0 0 10px #cccccc;
            color: #000;
            transition: all .3s ease-in-out;
            justify-content: space-between;
            display: flex;
            align-items: center;

            &+.nav-link {
                margin-top: 20px;
            }

            &.active {
                background-color: $primary;
                color: #fff;
            }
        }
    }

    .tab-content {
        width: 100%;
        padding-left: 100px;

        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
}

.minland-lisence {
    padding: 100px 0;

    .title {
        color: $primary;
        max-width: max-content;
        margin: auto;
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        margin: auto;
        text-align: center;

        &+p{
            margin-top: 20px;   
        }

    }

    ul {
        margin: 70px 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        gap: 20px;

        li {
            font-size: 18px;
            text-align: center;

            strong {
                display: block;
                font-size: 20px;
                margin-bottom: 15px;
                color: $primary;
            }
        }

        &+p {
            max-width: max-content;
            color: $fourth-color;
        }
    }
}

.minland-documents {
    padding: 100px 0;

    .title {
        color: $primary;
        max-width: 90%;
      
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        max-width: 740px;
        margin: auto;
        margin-bottom: 20px;

    }
    a{
        padding-left: 0;
        font-size: 16px;
    }

    .row {
       align-items: center;
    }

    .services-items {
        margin-top: -30px;

        .item-grid {
            &:first-child{
                margin-top: 80px;
            }
        }

        .single-item {
            margin-top: 30px;

            .item {
                padding: 40px 30px;
                background: #ffffff;
                box-shadow: 0 0 10px #cccccc;
                ul{
                    margin-top: 20px;
                    padding-left: 20px;
                    li{
                        &+li{
                            margin-top: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.minland-process{
    .title {
        color: $primary;
        max-width: 90%;
      
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;

    }
}

.offshore-lisence{
   
    .title {
        color: $primary;
        max-width: max-content;
       margin: auto;
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 40px;
        }
    }
    .card{
        text-align: center;
        border: none;
        background-color: #DFF2EB;
        padding: 30px 20px;
        span{
            font-size: 40px;
            margin-bottom: 30px;
        }
        p{
            font-size: 22px;
            line-height: 30px;
            font-weight: 600;
            color: #000;
        }
    }
}

.freezone-tab{
    .title {
        color: $primary;
        max-width: max-content;
       margin: auto;
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        margin: auto;
        max-width: max-content;

        @include min(992) {
            margin-bottom: 50px;
        }
    }
  .lists{
    .nav-tabs{
        background-color: #A66E38;
        justify-content: space-between;

        .nav-item{
            .nav-link{
                padding: 30px;
                border-radius: 0;
                border: none;
                background-color: transparent;
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                &.active{
                    background-color: $third-color;
                }
            }
        }
    }
    .tab-content{
        background-color: #E9EFEC;
        margin-top: 15px;
    }
  }
}

.business-process{
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        color: $primary;
        max-width: max-content;
        margin-bottom: 20px;

        @include min(992) {
            margin: auto;
            margin-bottom: 30px;
        }
    }
    p{
        font-size: 18px;
        max-width: 870px;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .timeline {
        position: relative;
        max-width: var(--width-container);
        margin: 0 auto;
        padding: var(--spacing-xxl) 0;
      }
    
      .timeline::after {
        content: '';
        position: absolute;
        width: 8px;
        background: linear-gradient(190deg, #EB2227 0%, #013346 100%) !important;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
        height: 0;
        transition: height 1.5s ease-out, opacity 1.5s ease-out;
      }
    
      .timeline-container {
        position: relative;
        width: 50%;
        padding: 10px 30px;
        box-sizing: border-box;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        width: 450px;
      }
    
      .timeline-container.left {
        left: 12.5%;

      }
    
      .timeline-container.right {
        left: 50%;
      }
    
      .timeline-container::before {
        content: "";
        position: absolute;
        top: 10px;
        width: 24px;
        height: 24px;
        background: var(--text-lighter);
        border: 4px solid var(--accent-color);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 99999;
      }
    
      .content {
        padding: 30px 20px;
        background-color: var(--text-lighter);
        position: relative;
        border-radius: var(--spacing-l);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        text-align: center;
        color: var(--background-dark);
        strong{
            margin-bottom: 15px;
            font-size: 18px;
            display: block;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 0;
        }
      }
    
      .content:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
      }
    
         .icon {
                font-size: 32px;
                margin-right: var(--spacing-s);
    
                color: #F67B50; /* Fallback color */
            }
    
    
    
    
      a.content-link {
        text-decoration: none;
        color: inherit;
        display: block;
      }
    
      @media screen and (max-width: 600px) {
        .timeline::after {
          left: 31px;
        }
    
        .timeline-container {
          width: 100%;
          padding-left: 80px;
          padding-right: 40px;
          margin-bottom: var(--spacing-l);
        }
    
        .timeline-container.left::before, .timeline-container.right::before {
          left: 31px;
        }
    
        .timeline-container.right {
          left: 0%;
        }
    
        .timeline-container.left, .timeline-container.right {
          left: 0;
        }
      }
    
      .show {
        opacity: 1;
        transform: translateY(0);
      }
    
      .timeline.show-line::after {
        height: 100%;
        opacity: 1;
      }
    
      .timeline.hide-line::after {
        height: 0;
        opacity: 0;
      }
}

