@import '../utilities/variable';
@import '../mixins/mixins';




.minland-details{
    padding-top: 80px;
    padding-bottom: 100px;

    .nav-pills{
        width: 400px;
        position: sticky;
        top: 110px;
        .nav-link {
            height: 70px;
            padding: 0 20px;
            text-align: left;
            background: #ffffff;
            box-shadow: 0 0 10px #cccccc;
            color: #000;
            transition: all .3s ease-in-out;
            justify-content: space-between;
            display: flex;
            align-items: center;
       
            &+.nav-link{
                margin-top: 20px;
            }

            &.active{
                background-color: $primary;
                color: #fff;
            }
        }
    }
    .tab-content{
        width: 100%;
        padding-left: 100px;
    }
}