@import '../utilities/variable';
@import '../mixins/mixins';


.form-section {
    padding: 100px 0;
    .title{
        color: $primary;
    }
    p{
        font-size: 18px;
    }
    .info{
        margin-bottom: 100px;
        max-width: 90%;
    }
    .inner-form {
        background-color: $primary;
        padding: 30px 20px;
        border-radius: 0;

        .title {
            color: #fff;
            margin-bottom: 40px;
            font-size: 25px;
        }

        .form-control,
        .form-select {
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            border-bottom: 1px solid #fff;
            padding-left: 0;
            font-size: 16px;
            color: #fff;

            &::placeholder {
                color: #fff;
            }

        }
        textarea{
            height: 100px;
            resize: none;
        }

        .form-select {
            padding-left: 5px;

            option {
                color: #000;
            }
        }

        button {
            &:hover {
                background-color: rgba($color: $fourth-color, $alpha: .7);
            }
        }

    }
}

.minland-list{
    padding-bottom: 100px;
    .row{
        row-gap: 30px;
    }
    .card{
        border: none;
        text-align: center;
        strong{
          font-size: 18px;
          margin-bottom: 20px;
        }
        p{
            text-align: center;
        }
    }
}

.minland-details {
    padding-top: 80px;
    padding-bottom: 100px;

    .head {
        .title {
            color: $primary;
            max-width: max-content;
           
            margin-bottom: 20px;

            @include min(992) {
                margin-bottom: 25px;
            }
        }

        p {
            font-size: 18px;
            max-width: max-content;

            @include min(992) {
                margin-bottom: 50px;
            }
        }
    }



    .nav-pills {
        width: 500px;
        position: sticky;
        top: 110px;

        .nav-link {
            height: 70px;
            padding: 0 20px;
            text-align: left;
            background: #ffffff;
            box-shadow: 0 0 10px #cccccc;
            color: #000;
            transition: all .3s ease-in-out;
            justify-content: space-between;
            display: flex;
            align-items: center;

            &+.nav-link {
                margin-top: 20px;
            }

            &.active {
                background-color: $primary;
                color: #fff;
            }
        }
    }

    .tab-content {
        width: 100%;
        padding-left: 100px;

        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
}

.minland-lisence {
    padding: 100px 0;

    .title {
        color: $primary;
        max-width: max-content;
        margin: auto;
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        margin: auto;
        text-align: center;

        &+p{
            margin-top: 20px;   
        }

    }

    ul {
        margin: 70px 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        gap: 20px;

        li {
            font-size: 18px;
            text-align: center;

            strong {
                display: block;
                font-size: 20px;
                margin-bottom: 15px;
                color: $primary;
            }
        }

        &+p {
            max-width: max-content;
            color: $fourth-color;
        }
    }
}

.minland-documents {
    padding: 100px 0;

    .title {
        color: $primary;
        max-width: 90%;
      
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        max-width: 740px;
        margin: auto;
        margin-bottom: 20px;

    }
    a{
        padding-left: 0;
        font-size: 16px;
    }

    .row {
       align-items: center;
    }

    .services-items {
        margin-top: -30px;

        .item-grid {
            &:first-child{
                margin-top: 80px;
            }
        }

        .single-item {
            margin-top: 30px;

            .item {
                padding: 40px 30px;
                background: #ffffff;
                box-shadow: 0 0 10px #cccccc;
                ul{
                    margin-top: 20px;
                    padding-left: 20px;
                    li{
                        &+li{
                            margin-top: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.minland-process{
    .title {
        color: $primary;
        max-width: 90%;
      
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;

    }
}

.offshore-lisence{
    .title {
        color: $primary;
        max-width: max-content;
       margin: auto;
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 40px;
        }
    }
}

.freezone-tab{
    .title {
        color: $primary;
        max-width: max-content;
       margin: auto;
        margin-bottom: 20px;

        @include min(992) {
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 18px;
        margin: auto;
        max-width: max-content;

        @include min(992) {
            margin-bottom: 50px;
        }
    }
  .lists{
    .nav-tabs{
        background-color: #A66E38;
        justify-content: space-between;

        .nav-item{
            .nav-link{
                padding: 30px;
                border-radius: 0;
                border: none;
                background-color: transparent;
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                &.active{
                    background-color: $third-color;
                }
            }
        }
    }
    .tab-content{
        background-color: #E9EFEC;
        margin-top: 15px;
    }
  }
}